{% extends "book_store/basic.html"%}



{% block title%} Profile {%endblock%}


{% block content %}

<div style="margin : 8% 5%">

    <table class="table">

        <tr>
            <td>Username</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{user.email}}</td>
        </tr>

        <tr>
            <td>First Name </td>
            <td>{{user.first_name}}</td>
        </tr>

        <tr>
            <td>Last Name</td>
            <td>{{user.last_name}}</td>
        </tr>
        <tr>
            <td>Bio</td>
            <td>{{user.profile.bio}}</td>
        </tr>






    </table>


    <button class="btn btn-secondary" data-toggle="collapse" data-target="#UpdateProfile"> Edit Profile <i
            class="fas fa-caret-down"></i> </button>

    <div class="collapse mt-3" id="UpdateProfile">

        <form action="" method="POST">

            {% csrf_token %}

            {{u_form.as_p}}
            {{p_form.as_p}}

            <input class="btn btn-outline-info" type="submit">


        </form>
    </div>


</div>


{% if my_books %}

<p class="font-weight-bold text-center text-primary">My books </p>
<div class="row">
    {% for book in my_books %}
    <div class="col-2 ">
        <div class=" card my-2" style="width:180px">
            <a href="{% url 'books:detail-books' book.ID%}">

                <img style="width:180px;height:300px" src="{{book.cover.url}}" class="mx-auto" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{book.title}}</h5>
                    {% for poster in book.original_poster.all%}


                    <a href="{%  url 'users:public_profile' poster.ID %}"> {{poster.username}}</a>

                    {% endfor %}
                    <p class="card-text">Genre : {{book.get_genre_display}} <br> Posted :
                        {{book.pub_date|date:"SHORT_DATE_FORMAT"}}
                    </p>

                    {% if book.is_free %}
                    <a href="#" style="background:#00c972" class="btn text-light">

                        Free </a>
                    {% else %}

                    <a href="#" class="btn btn-primary">

                        {{book.price}} € </a>
                    {% endif %}

                    {% if user in book.original_poster.all or user.is_admin %}

                    {%if book.is_free %}

                    <p><a href=" {%url 'books:update-view' book.ID %} "> update </a></p>
                    <p><a href=" {%url 'books:delete-view' book.ID %} "> delete </a></p>

                    {%else%}

                    <p><a href=" {%url 'books:update-non-free-view' book.ID %} "> update </a></p>
                    <p><a href=" {%url 'books:delete-view' book.ID %} "> delete </a></p>

                    {%endif%}
                    {% endif %}

                </div>
            </a>
        </div>

    </div>
    {%endfor%}
</div>
{% endif %}

{% endblock content%}