{% extends 'book_store/basic.html' %}
{% load crispy_forms_tags %}



{% block content%}

<div class="container mt-2 mb-5" class="">

    {% if messages %}

    {% for message in messages %}
    <div{% if message.tags %} class="alert-info p-1" {% endif %}>{{ message }} <a href="{%url 'books:user-cart'%}"><i
                class="fas fa-shopping-cart"></i>

        </a></div>
{% endfor %}
</ul>
{% endif %}

<h2 class="view-header text-center p-2 mb-5"> Checkout </h2>


<form action="" method="POST">

    {% csrf_token%}

    {{form|crispy}}



    <input type="submit">



</form>

</div>

{%endblock %}