{% extends 'book_store/basic.html' %}
{% load crispy_forms_tags %}



{% block content%}


{% if actual_order %}

<div class="container mt-3 mb-5">
    <h2 class="view-header text-center p-2 mb-5"> Payment </h2>
    <div class="row">
        {% if messages %}

        {% for message in messages %}
        <div{% if message.tags %} class="alert-info p-1" {% endif %}>{{ message }} <a
                href="{%url 'books:user-cart'%}"><i class="fas fa-shopping-cart"></i>

            </a></div>
    {% endfor %}
    </ul>
    {% endif %}



    <div class="border border-secondary w-50 row col-md-7 bg-light">




        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>


            <tbody>
                {% for items in actual_order.items.all%}
                <tr>
                    <td>

                        <div class="d-flex flex-row ">
                            <div>
                                <a href="{% url 'books:detail-books' items.item.ID%}" target="_blank"><img
                                        style="width:150px;height:150px" src="{{items.item.cover.url}}" alt=""></a>



                            </div>





                            <div class="  ml-2 ">
                                <a href="{% url 'books:detail-books' items.item.ID%}" target="_blank">
                                    <div class=" font-weight-bold text-dark">{{items.item.title}}</div>
                                </a>


                                {% for poster in items.item.original_poster.all%}



                                {%endfor%}



                            </div>

                        </div>

                    </td>
                    <td class="">{{items.item.price}} €</td>
                </tr>
                {%endfor%}


            </tbody>
        </table>


    </div>


    <div class="border border-secondary  row col-md-4 bg-light ml-5 mb-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>


            <tbody>
                {% for items in actual_order.items.all%}
                <tr>
                    <td>

                        <div class="d-flex flex-row ">




                            <a href="{% url 'books:detail-books' items.item.ID%}" target="_blank">
                                <div class=" font-weight-bold text-dark">{{items.item.title}}</div>
                            </a>



                        </div>

                    </td>
                    <td>{{items.item.price}} €</td>
                </tr>



                {%endfor%}

                <tr>

                    <td class="font-weight-bold">Total Price :</td>
                    <td class="font-weight-bold">{{actual_order.get_total}} €</td>
                </tr>
            </tbody>
        </table>

        <div class="mt-0">
            <h3> Billing Address :</h3>
            <div>{{street}}</div>
            <div>{{appartment}}</div>
            <div>{{zip}}</div>
            <div>{{country}}</div>


        </div>
        <div>

            <h3>Personal infos :</h3>
            <div> {{user.first_name}} {{user.last_name}} </div>
            <div> {{user.email}}</div>


        </div>

        <div class="mb-2">
            <h3> Payment option : </h3>

            {%if actual_order.payment_method == "P"%}
            <buttont class="btn btn-outline-primary mb-5"><i class="fab fa-paypal"></i>

                </button>

                {% elif actual_order.payment_method == "S"%}
                <form action="{% url 'books:charge' %}" method="post">
                    {% csrf_token %}
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ stripe_key }}" data-description="Order"
                        data-amount="{{actual_order.get_total_stripe}}" data-locale="auto">
                        </script>
                </form>



                </button>
                {%endif%}


        </div>



    </div>
</div>















</div>

{%else%}
<p>You don't have any order in preparation </p>



{%endif%}

{%endblock %}