{% extends 'book_store/basic.html' %}




{% block content%}




<div class="container mt-2">

    {% if messages %}

    {% for message in messages %}
    <div{% if message.tags %} class="alert-info p-1" {% endif %}>{{ message }}

</div>
{% endfor %}

{% endif %}

<h2 class="mt-3 mb-2 view-header text-center p-2 ">My Account</h2>






<div class="container">


    <div class="row">


        <div class="col-6">
            <a href="{%url 'books:confirmed-ordered-books' %}">

                <div class="border border-secondary bg-light mt-2">

                    <div class="row">

                        <div class="col-md-6">


                            <img src="/static/images/cardboard.jpg" class="img-fluid" alt="">

                        </div>

                        <div class="col-md-6">
                            <div class="d-flex flex-column p-2">
                                <h4 class="text-dark"> Your orders</h4>

                                <div class="text-dark"> Check your confirmed orders as well as its billings informations
                                </div>


                            </div>



                        </div>



                    </div>



                </div>

            </a>



        </div>


        <div class="col-6">
            <a href="{%url 'users:update_profile' %}">

                <div class="border border-secondary bg-light mt-2">

                    <div class="row">

                        <div class="col-md-6">


                            <img src="/static/images/cadenas.jpg" class="img-fluid" alt="">

                        </div>

                        <div class="col-md-6">
                            <div class="d-flex flex-column p-2">
                                <h4 class="text-dark"> Your Personal Informations </h4>

                                <div class="text-dark"> Check and edit Your personal informations
                                </div>


                            </div>



                        </div>



                    </div>



                </div>

            </a>



        </div>


        <div class="col-6">
            <a href="{%url 'users:update_profile' %}">

                <div class="border border-secondary bg-light mt-2">

                    <div class="row">

                        <div class="col-md-6">


                            <img src="/static/images/location.png" class="img-fluid" alt="">

                        </div>

                        <div class="col-md-6">
                            <div class="d-flex flex-column p-2">
                                <h4 class="text-dark"> Addresses </h4>

                                <div class="text-dark "> Manage your addresses
                                </div>


                            </div>



                        </div>



                    </div>



                </div>

            </a>



        </div>


    </div>




</div>











</div>




{%endblock %}